<footer class="border-top">
    <div class="foot-flex">
        <div class="foot-page">
            <p>© 2025 Airbnb, Inc.</p>
            <div class="pages">
                <a href="">Privacy</a>
                <a href="">Terms</a>
                <a href="">Company details</a>
            </div>
        </div>
        <div class="links">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
</footer>